* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

}
.informacion {
    background: rgba(255, 0, 0, 0.08);
      backdrop-filter: blur(5px);
      width: 100%;
      font-size: 2rem;
      border-radius: 2rem;
      padding: 2%;
  text-align: center;
  color: white;
  border-style: solid;
  border-color: red;
}
a{
  text-decoration: none;
  color: white;
  padding: 1%;
  border-radius: 1rem;
}
a:hover{
  background-color: red;
}
.titulo {
  font-size: 2.5rem;
  text-align: center;
  color: white;
  margin-top: 2%;
  margin-bottom: 2%;
}
body::-webkit-scrollbar {
  display: none;
}
img{
  width: 70%;
  border-radius: 5%;
  margin-left: 15%;
}